---
---

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #155799 !default;
$header-bg-color-secondary: #159957 !default;

@import "{{ site.theme }}";

.main-content {
  max-width: 75%;
}
